html, body { height: 100%; }
		body { margin: 0 auto; font-family: 'Roboto', sans-serif; padding: 0; }
		.wrapper { display: flex; flex-direction: column; height: 100%; }
		.header { background: url(../index/background-image.png); width: 100%;  }
		.header-size{ max-width: 980px; margin: 0 auto; display: flex; justify-content: space-between; }
		.header-logo { height: 50px; text-align: center; padding: 10px; }
		.header-menu { list-style-type: none; display: flex; justify-content: space-between; max-width: 400px; padding: 10px; }
		.header-menu li { text-align: center; text-transform: uppercase; font-size: 13px; display: flex; font-weight: 900; padding: 5px 20px; }
		.header-menu-link { color: white; text-decoration: none; }
		.header-menu-link:hover { transition: .5s; transform: scale(1.2); color: rgb(0,0,0);}
		.footer { background: url(../index/background-image.png); width: 100%; flex: 0 0 auto; }
		.footer-size { max-width: 980px; margin: 0 auto; display: flex; flex-direction: column; text-align: center;}
		.footer-menu { list-style-type: none; display: flex; justify-content: space-between; padding: 10px; max-width: 400px; margin: auto;}
		.footer-menu li { text-align: center; font-size: 15px; display: flex;  padding: 5px 16px; }
		.footer-menu-link { color: white; text-decoration: none; padding: 5px; }
		.footer-menu-link:hover { color: rgb(0,0,0); }
		.social { display: flex; justify-content: space-between; max-width: 150px; margin: 0 auto;}
		.footer-social { display: flex; flex-direction: column; }
		.footer-social-name { color: white; font-size: 13px; }
		.footer-social-url { color: white; font-size: 20px; padding: 5px 8px; }
		.content { flex: 1 0 auto; background: url(../index/background-content.png) repeat; width: 100%; }
		.content-size { max-width: 980px; margin: 30px auto; }
		.title-page { margin: 40px auto 20px; max-width: 100px; text-align: center; display: flex; flex-direction: column; font-family: 'Oswald'; }
		.title-page-block { display: flex; justify-content: center; }
		.title-page::after { height: 4px; width: 60%; background-color: rgb(230,57,69); margin: 5px auto 0; display: flex; content: ''; text-align: center; }
		.wrapper-info-block {  margin: 0px; text-align: center; display: flex; justify-content: space-around; vertical-align: center; }
		.info-block { width: 495px; height: 170px; margin: 5px; display: flex; flex-direction: column; border: solid rgb(0,0,0,0.1) 1px; }
		.info-block:hover,.info-block-requisites:hover { background-color: rgb(255,255,255); box-shadow: 0px 0px 10px 4px rgb(0,0,0,0.3); transform: scale(1.15); transition: .3s; }
		.info-block h2::after,.info-block-requisites h2::after,.form-size h2:after { height: 4px; width: 67px; background-color: rgb(230,57,69); margin: 5px auto 0; display: flex; content: ''; text-align: center; }
		.info-block h2,.info-block-requisites h2 { font-size: 18px; }
		.info-block p,.info-block-requisites p { margin: 5px; font-size: 13px;}
		.info-block-requisites { max-width: 980px; height: 170px; margin: 5px; display: flex; flex-direction: column; border: solid rgb(0,0,0,0.1) 1px; text-align: center; }
		.info-block-requisites:hover {transform: scale(1.07); }
		.form-size { margin: 30px auto; text-align: center; display: flex; flex-direction: column; }
		form { flex-direction: column; display: flex; margin: auto; max-width: 980px; }
		.form-name { text-align: center; }
		.form-input-name,.form-input-email,.form-input-message { width: 300px; padding: 10px 5px; margin: 10px auto; font-size: 17px; }
		.form-input-message { min-height: 100px; max-height: 200px; width: 300px; min-width: 300px; max-width: 300px; }
		.form-button { width: 220px; padding: 10px 5px; text-align: center; color: white; border: solid 1px rgb(0,0,0,0.1); background-color: rgb(230,57,69); margin: 10px auto;}
		.form-button:hover { background-color: rgb(0,0,0,0.7); box-shadow: 0px 0px 10px 4px rgb(0,0,0,0.3); transition: .2s; }
		.to-top { position: fixed; right: 15px; bottom: 25px; color: rgb(230,57,69); font-size: 41px; opacity: .7; }
		.to-top:hover { opacity: 1; }

			@media (max-width: 930px) {
			.wrapper-info-block { display: flex; flex-direction: column; width: 90%; margin: auto; }
			.info-block { width: 100%; margin: 5px auto; }
			.info-block-requisites { width: 90%; margin: 5px auto; }
		}

		@media (max-width: 585px) {
			.header-size { display: flex; flex-direction: column; }
			.header-logo { margin: 0 auto; text-align: center; }
			.header-menu { justify-content: space-around; max-width: 100%; margin: auto; padding: 10px 0;}
			.info-block-requisites { height: auto; }
		}

		@media (max-width: 487px) {
			.header-menu { flex-direction: column; text-align: center; margin: auto; }
			.header-menu li { padding: 10px; margin: auto; }
			.footer-menu { display: none; }
			.form-name { width: 200px; margin: auto; }
			.font-size { margin: 0 auto; }
			.form-input-name,.form-input-email,.form-input-message { width: 100%; margin: 10px auto; }
			.form-input-message { max-width: 100%; min-width: 100%; margin: 10px auto; }
		}